<!DOCTYPE html>
<html>
<head>
    <title>YelpCamp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheet/landing.css">
</head>
<body>

<div class="container">
    <h1>Welcome to YelpCamp!</h1>
    <a href="/campgrounds" class="btn btn-lg btn-success">View All Campgrounds</a>
</div>

<li></li>

<% include partials/footer %>