<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheet/main.css">
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">YelpCamp</a>
        </div>
        <div class="navbar-header">
            <a href="/campgrounds" class="navbar-brand">Campgrounds</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <% if(!currentUser){ %>
                <li><a href="/register">Sign up</a></li>
                <li><a href="/login">Log in</a></li>
            <% } else { %>
                <li><a href="#">Signed In As <%= currentUser.username %></a></li>
                <li><a href="/logout">Log Out</a></li>
            <% } %>
        </ul>
    </div>
</nav>

<div class="container">
    <% if(success && success.length>0){%>
    <div class="alert alert-success" role="alert">
        <%= success %>
    </div>
    <%}%>

    <% if(error && error.length>0){%>
    <div class="alert alert-danger" role="alert">
        <%= error %>
    </div>
    <%}%>
</div>


