<h1>LogIn Form</h1>

<form action="/login" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>LogIn!!</button>
</form>

<li><a href="/register"> Sign Up !! </a></li>
<li><a href="/login"> LogIn !! </a></li>
<li><a href="/logout"> LogOut !! </a></li>