<h1>This is a secret page !!</h1>

<p>you got me !!</p>

<img src="https://images.unsplash.com/photo-1465070845512-2b2dbdc6df66?auto=format&fit=crop&w=334&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D">

<li><a href="/register"> Sign Up !! </a></li>
<li><a href="/login"> LogIn !! </a></li>
<li><a href="/logout"> LogOut !! </a></li>